* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.hide_it{
    display: none;
}

/* 游戏首页的css样式*/
    .home {
    width: 1860px;
    height: 900px;
    z-index: 6;
    margin:0 auto;
    position: absolute;
}
    .btn_startgame {
        position: absolute;
        width: 100px;
        height:39px;
        left: 50%;
        top: 40%;
        margin-left: -50px;
        margin-top: 20px;
        background: url("../img/button/start.png") no-repeat;
        background-size: 100%;
        border-style: none;
    }
    .btn_logout {
        background: url("../img/button/exit.png") no-repeat;
        border-style: none;
        position: absolute;
        background-size: 100%;
        width: 80px;
        height: 80px;
        left: 50%;
        top: 50%;
        margin-top: 20px;
        margin-left: -40px;
    }
/*页面数，log1登录页面，2为修改密码页面，3为游戏首页，4为游戏主页，除了1其他默认不显示*/
#log2 {
    display: none;
}
/* 登录注册css样式------------------------------------------------------------------------*/
/* start */
.d-grid {
    display: grid;
}
a {
    text-decoration: none;
}

.main {
    margin:0 auto;  
    width: 1860px;
    height: 900px;
    position: absolute;
    z-index: 1;
    justify-content: center;
    display: grid;
    align-items: center;
}
.main:before {
    position: absolute;
    content:'';
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;
}

.content {    
    padding: 0em 4em;
}

.content-header span {
    font-size: 35px;
    color: #fff;
    cursor: pointer;
}
.content-header{
    text-align: center;
	margin-bottom:3em;
}
.content-bottom {
	position: relative; 
    z-index: 1;
}
.logo h1 a {
    font-size: 35px;
    color: #fff;
    text-transform: capitalize;
    font-weight: 600;
    letter-spacing: 1px;
}


form .field-group {
    background: #fff;
    margin-bottom: 20px;
    padding: 0px 10px 0px 0;
	border-radius: 35px;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
	-ms-border-radius: 35px;
    -o-border-radius: 35px;
    position: relative;
}

.input-field button.btn {
    
    background: #a3b955;
    border: none;
    color: #fff;
    padding: 12px 15px;
    text-transform: uppercase;
	font-family: 'Mukta', sans-serif;
    font-size: 16px;
	width:100%;
    letter-spacing: 2px;
    outline: none;
    cursor: pointer;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
	border-radius: 35px;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
	-ms-border-radius: 35px;
	-o-border-radius: 35px;
}
.input-field button.btn:hover {
    background: #90a14c;
}

.bottom-grid{
    text-align: center;
}

.input-field input {
    padding: 12px 0 12px 50px;
    font-size: 18px;
    color: #999;
    letter-spacing: 0.5px;
    border: none;
    background: transparent;
    box-sizing: border-box;
    font-family: 'Mukta', sans-serif;
    width: 100%;
    outline: none;
}
ul.list-login-bottom li{
    
    padding-left: 35%;
    padding-top: 20px;
}
ul.list-login-bottom li a{
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: normal;
    color: #fff;
}
ul.list-login-bottom li a:hover {
    color: #ccc;
}


.content-header span:hover{
    color:red;
}
#upadte-password{
    display: none;
}
#start2{
    display: none;
}

/* end */

/*游戏主页----------------------------------------------------------------------------*/
/* 总界面 */
.block{
    position: absolute;
    width: 1860px;
    height: 900px;
    display: flex;
    margin:0 auto;
}

/* 游戏界面 */
.block1{
    position: relative;
    width: 1380px;
    height: 900px;
    margin-left: 30px;
    background: url(../img/map/map-sea.jpg) no-repeat;
}


/* 信息展示界面 */
.block2{
    position: relative;
    width: 480px;
    height: 900px;
    background-image: url(../img/map/message_ui_bg.png);
    /* background-color: chocolate; */
}

.content_banner{
    margin-left: 30px;
    /* background-color: aquamarine; */
    margin-top: 50px;
    width: 480px;
    height: 100px;
}

.content_player{
    /* background-color: bisque; */
    color: #fff;
    margin-left: 30px;
    width: 480px;
    height: 300px;
    display: flex;
    
}
.content_player1{
    width: 240px;
    height: 300px;
}

.content_player2{
    width: 240px;
    height: 300px;
}

.content_skill{
    /* background-color: cadetblue; */
    width: 480px;
    height: 200px;
    
}

.content_chat{
    /* background-color: darkblue; */
    width: 480px;
    height: 300px;
    
}
.player{
    border-collapse:collapse;
    width: 230px;
    table-layout: fixed;
}

.title{
    list-style: none;
    float:left;
    margin-left: 6px;
    margin-right: 6px;
    width: 219px;
    height:60px;
    text-align:center;
    border: 1px solid #f4f4f4;
    margin:0 0 -1px -1px;
    padding-top: 18px;
    font-size: 120%;
}
.mess{
    text-align:center;
    height: 50px;
    list-style: none;
    float:left;
    margin-left: 6px;
    margin-right: 6px;
    width: 110px;
    flex-direction: row;
    border: 1px solid #f4f4f4;
    margin:0 0 -1px -1px;
    padding-top: 10px;
}
.float{
    float: left;
}

