* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.hide_it{
    display: none;
}

/* 游戏首页的css样式*/
.home {

    width: 1860px;
    height: 900px;
    z-index: 6;
    margin:0 auto;
    position: absolute;
}
.home_back {
    margin:0 auto;
    width: 1860px;
    height: 900px;
    background: url("../img/items/scene-wolfman.png") no-repeat; 
    position: absolute;
}

.btn_startgame {
    position: absolute;
    width: 22%;
    height:22%;
    left: 25%;
    top: 73%;
    cursor: pointer;
    background: url("../img/button/button-start\(2\).png") no-repeat;
    background-size:100%;
    border-style: none;
}

.btn_startgame:active{
    box-shadow: 0 0px red;
    transform: translateY(4px);
}
.btn_logout {
    cursor: pointer;
    background: url("../img/button/button-logout\(2\).png") no-repeat;
    border-style: none;
    position: absolute;
    background-size: 100%;
    width: 22%;
    height: 22%;
    left: 58%;
    top: 73%;

    }
.btn_logout:active {
    box-shadow: 0 0px red;
    transform: translateY(4px);
}

#log2 {
    display: none;
}
/* 登录注册css样式------------------------------------------------------------------------*/
/* start */
.d-grid {
    display: grid;
}
a {
    text-decoration: none;
}

.main {
    margin:0 auto;  
    width: 1860px;
    height: 900px;
    position: absolute;
    z-index: 1;
    justify-content: center;
    display: grid;
    align-items: center;
    grid-template-rows: 50px 450px;
    padding-top: 150px;
}
.main:before {
    position: absolute;
    content:'';
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;
}

.content {    
    padding: 0em 4em;
}

.content-header span {
    font-size: 35px;
    color: #fff;
    cursor: pointer;
}
.content-header{
    text-align: center;
	margin-bottom:3em;
}
.content-bottom {
	position: relative; 
    z-index: 1;
}
.logo h1 a {
    font-size: 35px;
    color: #fff;
    text-transform: capitalize;
    font-weight: 600;
    letter-spacing: 1px;
}


form .field-group {
    background: #fff;
    margin-bottom: 20px;
    padding: 0px 10px 0px 0;
	border-radius: 35px;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
	-ms-border-radius: 35px;
    -o-border-radius: 35px;
    position: relative;
}

.input-field button.btn {
    
    background: #a3b955;
    border: none;
    color: #fff;
    padding: 12px 15px;
    text-transform: uppercase;
	font-family: 'Mukta', sans-serif;
    font-size: 16px;
	width:100%;
    letter-spacing: 2px;
    outline: none;
    cursor: pointer;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
	border-radius: 35px;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
	-ms-border-radius: 35px;
	-o-border-radius: 35px;
}
.input-field button.btn:hover {
    background: #90a14c;
}

.bottom-grid{
    text-align: center;
}

.input-field input {
    padding: 12px 0 12px 50px;
    font-size: 18px;
    color: #999;
    letter-spacing: 0.5px;
    border: none;
    background: transparent;
    box-sizing: border-box;
    font-family: 'Mukta', sans-serif;
    width: 100%;
    outline: none;
}
ul.list-login-bottom li{
    
    padding-left: 35%;
    padding-top: 20px;
    list-style-type: none;
}
ul.list-login-bottom li a{
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: normal;
    color: #fff;
}
ul.list-login-bottom li a:hover {
    color: #ccc;
}


.content-header span:hover{
    color:red;
}
#upadte-password{
    display: none;
}
#start2{
    display: none;
}
/* 登录注册页面end */

/* 匹配页面样式start */
/* .match{
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    
}
#match_header{
    padding: 90px;
}
.our_part{
    
    height: 660px;
    background: url(../img/match/my.jpg) no-repeat;
    background-size: 100%;
    float: left;
    width: 40%;
    padding-top: 75px;
}
.enemy_part{
    height: 660px;
    background: url(../img/match/my.jpg) no-repeat;
    background-size: 100%;
    float: left;
    width: 40%;
    padding-top: 75px;
}
.our_part img,.enemy_part img{
    width: 39%;
    border-radius: 50%;
    padding-top: 15px;
}
.vs{
    float: left;
    width: 20%;
    padding-top: 45px;
}
.match h2{
    padding-top: 20px;
}
#match_time{
    padding-top: 30px;
} */

/* 匹配页面end */

/*游戏主页----------------------------------------------------------------------------*/
/* 总界面 */
.block{
    position: absolute;
    width: 1860px;
    height: 900px;
    margin:0 auto;
    background:greenyellow;

}

/* 游戏界面 */
.block1{
    position: relative;
    width: 1020px;
    height: 660px;
    margin-left: 80px;
    background-size:auto;
    margin-top: 50px;
    background: url(../img/map/map1.png) no-repeat;
}
/* 技能页面 */
.block3{
    position: absolute;
    background:yellow;
    width: 900px;
    height:120px;
    margin-left: 140px;
    top:82%;

}

/* 信息展示界面 */
.block2{
    position: absolute;
    width: 100%;
    left:1100px;
    top: 20px;
    height: 100%;
    background: url(../img/map/info-2.png) no-repeat;
    /* background-color: chocolate; */
}

.content_banner{
    margin-left:190px;
    /* background-color: aquamarine; */
    margin-top:80px;
    width: 480px;
    height: 100px;
    font-weight:bold;
    font-size: 30px;
    font-family:"FZShuTi","FZShuTi";
}

.content_player{
    font-size: 20px;
    margin-left: 105px;
    width: 540px;
    height: 300px;
    font-weight:bold;
    display: flex;
    font-family:"FZShuTi","FZShuTi";

    
}

.content_skill{
    /* background-color: cadetblue; */
    width: 480px;
    height: 200px;
    
}

.content_chat{
    position: absolute;
    /* background-color: darkblue; */
    z-index: 7;
    bottom:80px;
    margin-left:-35px;
    width: 580px;
    height: 220px;
    
}
.player{
    font-weight: bolder;
    border-collapse:collapse;
    width: 230px;
    table-layout: fixed;
}

.title{
    list-style: none;
    float:left;
    width: 259px;
    height:60px;
    text-align:center;
    border: 1px solid black;
    margin: 0  0 -1px -1px;
    padding-top: 18px;
    font-size: 120%;
}
.mess{
    text-align:center;
    height: 45px;
    list-style: none;
    float:left;
    width: 130px;
    flex-direction: row;
    border: 1px solid black;
    margin:0 0 -1px -1px;
    padding-top: 10px;
}

.talk_con{
    align-content: center;
    width:480px;
    height:50px;
    /*border:1px solid #666;*/
    margin-top: -100px;
    margin-left: 135px;
    background:#f9f9f9;
}
.talk_show{
    width:570px;
    height:200px;
    border:1px solid #666;
    background:#fff;
    margin:10px auto 0;
    overflow:auto;
}
.talk_input{
    width:580px;
    margin:10px auto 0;
}
.talk_word{
    width:420px;
    height:26px;
    padding:0px;
    float:left;
    margin-left:10px;
    outline:none;
    text-indent:10px;
}
.talk_sub{
    width:56px;
    height:30px;
    float:left;
    margin-left:10px;
}
.atalk{
    margin:10px;
}
.atalk span{
    display:inline-block;
    background:#0181cc;
    border-radius:10px;
    color:#fff;
    padding:5px 10px;
}
.btalk{
    margin:10px;
    text-align:right;
}
.btalk span{
    display:inline-block;
    background:#ef8201;
    border-radius:10px;
    color:#fff;
    padding:5px 10px;
}
.box_block{
    z-index: 7;
    position: absolute;
    background: url(../img/map/mapbar.png) no-repeat;
    width: 100%;
    height: 100%;
    margin-left: 52px;
    background-size:auto;
    margin-top: 20px;
}

