* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.hide_it{
    display: none;
}

/* 游戏首页的css样式*/
.home {
    width: 1860px;
    height: 900px;
    z-index: 1;
    margin:0 auto;
    position: absolute;
}
.home_back {
    margin:0 auto;
    width: 1860px;
    height: 900px;
    background: url("../img/map/scene-wolfman.png") no-repeat; 
    position: absolute;
}
.readme{
    left: 80%;
    bottom: 24%;
    position: absolute;
    width: 100%;
    height: 100px;
    background: url("../img/map/readme.png") no-repeat;
}
.btn_startgame {
    position: absolute;
    width: 410px;
    height:100px;
    left: 40%;
    top: 58%;
    cursor: pointer;
    background: url("../img/button/button-start.png") no-repeat;
    background-size:100%;
    border-style: none;
}

.btn_startgame:active{
    box-shadow: 0 0px red;
    transform: translateY(4px);
}
.btn_logout {
    cursor: pointer;
    background: url("../img/button/button-logout.png") no-repeat;
    border-style: none;
    position: absolute;
    background-size: 100%;
    width: 410px;
    height: 100px;
    left: 40%;
    top: 77%;

    }
.btn_logout:active {
    box-shadow: 0 0px red;
    transform: translateY(4px);
}


.help1{
    border-style: none;
    position: absolute;
    left: 85%;
    top: 77%;
    width: 220px;
    height:200px;
    background:url(../img/items/rules.png) center no-repeat;

}
.game_rules{
    padding: 100px 100px;
    font-size: 30px;
    background: rgba(255, 255, 255, 0.925);
    position: absolute;
    width: 1200px;
    height:700px;
    left:21%;
    top: 15%;
    line-height: 50px;
    border-radius: 50px;
    z-index: 1;
    filter:alpha(Opacity=90);-moz-opacity:0.9;opacity: 0.9;
    font-family:"楷体","楷体";

}
/* .help1:hover::after{

    position: absolute;
    content:
    '-------------游戏机制-----------   己方消灭一个怪，敌方增加两个怪。 '
    '-------------胜负条件-----------  场上怪先达100只, 判定游戏失败。 '
    '-------------技能说明-----------  技能1：让敌方场上的所有怪升一级  '
    '技能2：扣除己方场上所有怪剩余血量的一半'
    '技能3：敌方场上添加一个boss';
    font-size: 17px;
    width: 280px;
    height: 350px;
    margin-top: -300px;
    margin-left: -60px;
    line-height: 23px;
    background: cornflowerblue;
    border-radius: 10px;
    border: rgba(0, 0, 0, 0.01);
} */
#log2 {
    display: none;
}
/* 登录注册css样式------------------------------------------------------------------------*/
/* start */
.d-grid {
    display: grid;
}
a {
    text-decoration: none;
}

.main {
    margin:0 auto;  
    width: 1860px;
    height: 900px;
    position: absolute;
    z-index: 1;
    justify-content: center;
    display: grid;
    align-items: center;
    grid-template-rows: 50px 450px;
    padding-top: 150px;
}
.main:before {
    position: absolute;
    content:'';
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;
}

.content {    
    padding: 0em 4em;
}

.content-header span {
    font-size: 35px;
    color: #fff;
    cursor: pointer;
}
.content-header{
    text-align: center;
	margin-bottom:3em;
}
.content-bottom {
	position: relative; 
    z-index: 1;
}
.logo h1 a {
    font-size: 35px;
    color: #fff;
    text-transform: capitalize;
    font-weight: 600;
    letter-spacing: 1px;
}


form .field-group {
    background: #fff;
    margin-bottom: 20px;
    padding: 0px 10px 0px 0;
	border-radius: 35px;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
	-ms-border-radius: 35px;
    -o-border-radius: 35px;
    position: relative;
}

.input-field button.btn {
    
    background: #a3b955;
    border: none;
    color: #fff;
    padding: 12px 15px;
    text-transform: uppercase;
	font-family: 'Mukta', sans-serif;
    font-size: 16px;
	width:100%;
    letter-spacing: 2px;
    outline: none;
    cursor: pointer;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
	border-radius: 35px;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
	-ms-border-radius: 35px;
	-o-border-radius: 35px;
}
.input-field button.btn:hover {
    background: #90a14c;
}

.bottom-grid{
    text-align: center;
}

.input-field input {
    padding: 12px 0 12px 50px;
    font-size: 18px;
    color: #999;
    letter-spacing: 0.5px;
    border: none;
    background: transparent;
    box-sizing: border-box;
    font-family: 'Mukta', sans-serif;
    width: 100%;
    outline: none;
}
ul.list-login-bottom li{
    
    padding-left: 35%;
    padding-top: 20px;
    list-style-type: none;
}
ul.list-login-bottom li a{
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: normal;
    color: #fff;
}
ul.list-login-bottom li a:hover {
    color: #ccc;
}


.content-header span:hover{
    color:red;
}
#upadte-password{
    display: none;
}
#start2{
    display: none;
}
/* 登录注册页面end */

/* 匹配页面样式start */
.match{
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    width: 1860px;
    height: 900px;
    position: absolute;
    
}
#match_header{
    padding: 90px;
}
.our_part{
    
    height: 540px;
    background: url(../img/match/my.jpg) no-repeat;
    background-size: 100%;
    float: left;
    width: 40%;
    padding-top: 45px;
}
.enemy_part{
    height: 540px;
    background: url(../img/match/my.jpg) no-repeat;
    background-size: 100%;
    float: left;
    width: 40%;
    padding-top: 45px;
}
.our_part img,.enemy_part img{
    width: 39%;
    border-radius: 50%;
    padding-top: 20px;
}
.vs{
    float: left;
    width: 20%;
    padding-top: 10%;
}
.part{
    padding-top: 11%;
}
.sorce{
    padding-top: 20px;
}
#match_time{
    padding-top: 30px;
}
.online_num{
    padding-top: 5%;
    text-align: left;
}
.online_num span{
    font-size: 33px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    /* color:rgb(0, 247, 255); */
    padding-top: 5%;
    
    
}
#detail_num{
    padding-left: 12px;
}


/* 匹配页面end */
/* 结算页面start */
.total{
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    width: 1860px;
    height: 900px;
    position: absolute;
    background-color: aquamarine;
    background:url(../img/total/total_bj.png) no-repeat;
    background-size: auto 100%;
    background-position: center;
    z-index: 1;
    
}
#total_logo{
    height: 30%;
    /* background-color: rgb(255, 127, 234); */
}
#total_logo img{
    height: 100%;
    margin-top: 75px;
}
#total_context{
    height: 70%;
    /* background:url(../img/total/total_bj.png) no-repeat; */
    background-position: center;
    background-size: auto 100%;
    padding-top: 9%;
    /* padding-left:30%; */
    text-align: center;
}
#total_context span{
    padding-bottom: 20px;
}
.total_span_left{
    display: inline-block;
    width: 230px;
    text-align: right;
}
.total_span_right{
    display: inline-block;
    width: 230px;
    text-align: left;
}
#total_lose{
    display:none;
}
#total_btn{
    padding-top: 75px;
}
#total_continue{
    /* background:url(../img/total/total_continue.png) no-repeat;  */
    cursor: pointer;
}

/* 结算页面end */

/*游戏主页----------------------------------------------------------------------------*/
/* 总界面 */
.block{
    position: absolute;
    width: 1860px;
    height: 900px;
    margin:0 auto;
    background:url(../img/map/wall.png) no-repeat;

}

/* 游戏界面 */
.block1{
    position: relative;
    width: 1020px;
    height: 660px;
    margin-left: 60px;
    background-size:auto;
    margin-top: 25px;
    background: url(../img/map/map-volcano-2.png) no-repeat;
}
/* 技能页面 */
.block3{
    position: absolute;
    justify-content: center;
    align-items: center;
    background:url(../img/items/skillbar.png) no-repeat;
    margin-top: 42px;
    width: 50%;
    height:50%;
    margin-left: 110px;
    top:75%;
    z-index: 5;
    padding-top: 15px;
}

.allcanvas{
    position: absolute;
}

.skill_iel{
    position: absolute;
    left: 93px;
    width: 110px;
    height: 110px;
    background-size: cover;
    border: none;
    background: url(../img/items/special_icons_0034.png) no-repeat center center;
}
.skill_iel:hover::after{
    font-family:"楷体","楷体";
    position: absolute;
    content: '对战玩家所有的小怪升级,50金币';
    font-size: 18px;
    text-align: center;
    width: 110px;
    height: 40px;
    margin-top: -35px;

    line-height: 20px;
    background: cornflowerblue;
    border-radius: 10px;
    border: rgba(0, 0, 0, 0.01);
}
.skill_iel:active {
    transform: scale(1.1);
}

.skill_reb{
    left: 214px;
    width: 110px;
    height: 110px;
    border: none;
    position: absolute;
    background: url(../img/items/special_icons_0024.png) no-repeat center center;
}
.skill_reb:hover::after{
    font-family:"楷体","楷体";
    position: absolute;
    content: '减少己方全场小怪血量,150金';
    font-size: 18px;
    text-align: center;
    width: 110px;
    height: 40px;
    margin-top: -35px;

    line-height: 20px;
    background: cornflowerblue;
    border-radius: 10px;
    border: rgba(0, 0, 0, 0.01);
}
.skill_reb:active {
    transform: scale(1.1);
}
.skill_ab{
    left: 336px;
    width: 110px;
    height: 110px;
    border: none;
    position: absolute;
    background: url(../img/items/special_icons_0049.png) no-repeat center center;
}
.skill_ab:hover::after{
    font-family:"楷体","楷体";
    position: absolute;
    content: '对战玩家新增大boss,50金';
    font-size: 18px;
    text-align: center;
    width: 110px;
    height: 40px;
    margin-top: -35px;

    line-height: 20px;
    background: cornflowerblue;
    border-radius: 10px;
    border: rgba(0, 0, 0, 0.01);
}
.skill_ab:active {
    transform: scale(1.1);
}

/* 信息展示界面 */
.block2{
    position: absolute;
    width: 100%;
    left:1100px;
    top: 20px;
    height: 100%;
    background: url(../img/map/info-2\(1\).png) no-repeat;
    /* background-color: chocolate; */
}
.lackmoney{
    background:url(../img/items/lackofmoney.png) no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    left:60%;
    top: 1%;
    z-index: 6;
}
.content_banner{
    margin-left:190px;
    /* background-color: aquamarine; */
    margin-top:80px;
    width: 480px;
    height: 100px;
    font-weight:bold;
    font-size: 30px;
    font-family:"FZShuTi","FZShuTi";
}

.content_player{
    font-size: 20px;
    margin-left: 105px;
    width: 540px;
    height: 300px;
    font-weight:bold;
    display: flex;
    font-family:"FZShuTi","FZShuTi";

    
}

.content_skill{
    /* background-color: cadetblue; */
    width: 480px;
    height: 200px;
    
}

.content_chat{
    position: absolute;
    /* background-color: darkblue; */
    z-index: 7;
    bottom:80px;
    margin-left:-35px;
    width: 580px;
    height: 220px;
    
}
.player{
    font-weight: bolder;
    border-collapse:collapse;
    width: 230px;
    table-layout: fixed;
}

.title{
    list-style: none;
    float:left;
    width: 259px;
    height:60px;
    text-align:center;
    border: 1px solid black;
    margin: 0  0 -1px -1px;
    padding-top: 18px;
    font-size: 120%;
}
.mess{
    text-align:center;
    height: 45px;
    list-style: none;
    float:left;
    width: 130px;
    flex-direction: row;
    border: 1px solid black;
    margin:0 0 -1px -1px;
    padding-top: 10px;
}

.talk_con{
    align-content: center;
    width:480px;
    height:50px;
    /*border:1px solid #666;*/
    margin-top: -100px;
    margin-left: 135px;
    filter:alpha(Opacity=80);-moz-opacity:0.8;opacity: 0.8;
}
.talk_show{
    width:570px;
    height:200px;
    border:1px solid #666;
    background:#fff;
    filter:alpha(Opacity=80);-moz-opacity:0.8;opacity: 0.8;
    margin:10px auto 0;
    overflow:auto;
}
.talk_input{
    width:580px;
    margin:10px auto 0;
}
.talk_word{
    width:420px;
    height:26px;
    padding:0px;
    float:left;
    margin-left:10px;
    outline:none;
    text-indent:10px;
    
}
.talk_sub{
    width:56px;
    height:30px;
    float:left;
    margin-left:10px;
}
.atalk{
    margin:10px;
}
.atalk span{
    display:inline-block;
    background:#0181cc;
    border-radius:10px;
    color:#fff;
    padding:5px 10px;
}
.btalk{
    margin:10px;
    text-align:right;
}
.btalk span{
    display:inline-block;
    background:#ef8201;
    border-radius:10px;
    color:#fff;
    padding:5px 10px;
}
.box_block{
    z-index: 2;
    position: absolute;
    background: url(../img/map/mapbar.png) no-repeat;
    width: 100%;
    height:100%;
    background-size:110% 110%;
    margin-left: 26px;
    background-size:auto;
    margin-top:-10px;
}


#canvasMap_option {
    z-index: 99;
}
